:root {
    /* Font Family */
    --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;

    /* Font Weights */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;

    /* Font Sizes */
    --font-size-12: .75rem;
    --font-size-13: .8125rem;
    --font-size-14: .875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-22: 1.375rem;
    --font-size-26: 1.625rem;
}

/* Typography Defintions */
.t-display {
    font-size: var(--font-size-26);
    font-weight: var(--weight-medium);
    line-height: 1.2104;
}

.t-body {
    font-size: var(--font-size-16);
    font-weight: var(--weight-regular);
    line-height: 1.625;
}

.t-body-medium {
    font-size: var(--font-size-16);
    font-weight: var(--weight-medium);
    line-height: 1.625;
}

.t-column-heading {
    font-size: var(--font-size-12);
    font-weight: var(--weight-semibold);
    line-height: 1.6667;
    text-transform: uppercase;
}

.t-row-heading {
    font-size: var(--font-size-18);
    font-weight: var(--weight-semibold);
    line-height: 1.21;
}

.t-form-heading {
    font-size: var(--font-size-22);
    font-weight: var(--weight-medium);
    line-height: 1.2105;
}

.t-form-label {
    font-size: var(--font-size-13);
    font-weight: var(--weight-regular);
    line-height: 1.21;
}

.t-caption {
    font-size: var(--font-size-14);
    font-weight: var(--weight-regular);
    line-height: 1.5714;
}

.t-caption-small {
    font-size: var(--font-size-13);
    font-weight: var(--weight-medium);
    line-height: 1.21;
}